SECRET_KEY='django-insecure-n90@@zj34&8dpk642yv=(lxk%jzfn-w-rqciabd^38_-$zzto2'
DEBUG=True
ALLOWED_HOSTS=[*]

DB_ENGINE="postgresql"
POSTGRES_DB="db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="ctrl1234$"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"